<div class="bg-white p-5 h-50">
  <h2>New space</h2>
  <%= simple_form_for [current_user, @space] do |f| %>

    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
    </div>

    <div class="form-actions d-flex justify-content-between mt3" class = "form-buttons">
      <div>
        <%= f.button :submit, "Add" %>
      </div>
      <div>
        <%= link_to user_spaces_path(current_user) do %>
          <button class="return-button"> Return</button>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
