<div class="task-manager">
  <div class="left-bar">
     <%= render "pages/sidebar" %>
  </div>
  <div class="page-content">
    <% if user_signed_in? %>
    <%= render "pages/page_content", space: current_user.spaces.first %>
    <%= render "bills/bills" %>
    <%= render "shopping_lists/shopping_lists" %>
    <%= render "chores/chores", chores_categories: @chores_categories %>
      <% end %>
    <% if user_signed_in? %>
       <%#= render "bills/bills" %>

    <% end %>
  </div>
  <div class="right-bar">
    <%= render "tasks/my_tasks" %>
  </div>
</div>
