<div class="task-manager">
  <div class="left-bar">
     <%= render "pages/sidebar" %>
  </div>
  <div class="page-content">
    <% if user_signed_in? %>
      <div ><%= render "pages/page_content", space: @space %></div>
      <div class="active Bills"><%= render "bills/bills" %></div>
      <div class="inactive Lists"><%= render "shopping_lists/shopping_lists" %></div>
      <div class="inactive Chores"><%= render "chores/chores", chores_categories: @chores_categories, chores: @chores, space: @space %></div>
      <div class="inactive Expenses"><%= render "expenses/expenses", expenses_categories: @expenses_categories, expenses: @expenses, space: @space %></div>
    <% end %>
  </div>
  <div class="right-bar">
    <%= render "tasks/my_tasks", space: @space %>
  </div>
</div>
