<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
  <div class="card p-4">
    <div class=" image d-flex flex-column justify-content-center align-items-center">
      <button ><img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" /></button>
      <span class="name mt-3"><%= @user.first_name %> <%= @user.last_name %></span>
      <span class="idd"><%= @user.email %></span>
      <span class="idd"><%= @user.spaces.last.name %></span>
      <div class="m-2 d-flex justify-content-between">
        <div class="multi-button mx-3">
          <%= link_to edit_user_registration_path do %>
            <button><i class="fa-solid fa-pen-to-square"></i> Edit profile</button>
          <% end %>
        </div>
        <div class="multi-button mx-3">
          <%= link_to root_path do %>
            <button><i class="fa-solid fa-house-user"></i> Home</button>
          <% end %>
        </div>
        <div class="multi-button mx-3">
          <%= link_to user_spaces_path(current_user) do %>
            <button><i class="fa-solid fa-building-user"></i> Spaces</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
