

<div class="left-content">
  <div class="multi-button">
      <div class="multi-button text-center mb-3">
      <%= link_to root_path do %>
        <button><i class="fa-solid fa-house-user"></i> Home</button>
      <% end %>
      </div>

      <div class="multi-button text-center mb-3">
        <a href=<%= user_path(current_user) %>><button><i class="fa-solid fa-user-group"></i> Profile</button></a>
      </div>

      <div class="multi-button text-center mb-3">
        <a href="<%= new_space_assignment_path(@space) %>"><button><i class="fa-solid fa-plus"></i>Add Roommate </button></a>
      </div>

      <div class="multi-button text-center mb-3">
      <%= link_to user_spaces_path(current_user) do %>
        <button><i class="fa-solid fa-building-user"></i> Spaces</button>
      <% end %>
      </div>

      <div class="multi-button text-center mb-3">
        <a href="<%= destroy_user_session_path %>" data-turbo-method="delete"><button><i class="fa-solid fa-right-from-bracket"></i> Log out</button></a>
      </div>
    </div>
</div>
