<div class="multi-button">
  <%= link_to new_space_chore_path(current_user.spaces.first, category: "Bathroom") do %>
    <button><i class="fa-solid fa-toilet"></i> Bathroom</button>
  <% end %>

  <%= link_to new_space_chore_path(current_user.spaces.first, category: "Dishes") do %>
    <button><i class="fa-solid fa-utensils"></i> Dishes</button>
  <% end %>

  <%= link_to new_space_chore_path(current_user.spaces.first, category: "Sweep") do %>
   <button><i class="fa-solid fa-broom"></i>Sweep</button>
  <% end %>

  <%= link_to new_space_chore_path(current_user.spaces.first, category: "Kitchen") do %>
   <button><i class="fa-solid fa-kitchen-set"></i> Kitchen</button>
  <% end %>

  <%= link_to new_space_chore_path(current_user.spaces.first, category: "Washer") do %>
   <button><i class="fa-solid fa-soap"></i> Washer</button>
  <% end %>

  <%= link_to new_space_chore_path(current_user.spaces.first) do %>
   <button><i class="fa-solid fa-plus"></i>Add</button>
  <% end %>
</div>

<div class= "parent-bill">
  <div class= "bills-scrolll">
    <% chores.each do |chore| %>
            <div class="task-box green multi-button">
              <div class="description-task">
                <div class="category-name"><%= chore.category %></div>
                <div class="task-name"><%= chore.name %></div>
                <div class="task-name"><%= chore.description %></div>
                <div class="d-flex justify-content-between">
                  <div class="task-user"><p>Assigned to: <%= chore.user.first_name %></p></div>
                  <%= link_to space_chore_path(chore.space, chore),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                    <button><i class="fa-solid fa-trash"></i>delete</button>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
  </div>
</div>
