
<div class="multi-button">
  <% @expenses_categories.each_with_index do |category, index| %>
    <%= link_to new_space_expense_path(current_user.spaces.first, category: category) do %>
    <button><i class="fa-solid fa-<%= @expenses_categories_icons[index] %> "></i><%= category %></button>
    <% end %>
  <% end %>
   <%= link_to new_space_expense_path(current_user.spaces.first) do %>
   <button><i class="fa-solid fa-plus"></i>Add</button>
  <% end %>
</div>


<div class= "parent-expense">
  <div class= "expenses-scroll">
    <% expenses.reverse.each do |expense| %>
            <div class="task-box blue">
              <div class="description-task">
                <div class="task-name"><%= expense.name %></div>
                <div class="expense-category"><%= expense.category %></div>
                <div class="task-user"><%= expense.user.first_name %></div>
                <div class="task-amount"><%= expense.amount %></div>
              </div>
            </div>
          <%= link_to space_expense_path(expense.space, expense), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
            <button><i class="fa-solid fa-trash"></i>delete</button>
          <% end %>
        <% end %>
  </div>
</div>
