<div class="multi-button">
  <%= link_to new_space_expense_path(current_user.spaces.first, category: "Restaurant") do %>
    <button><i class="fa-solid fa-utensils"></i>Restaurant</button>
  <% end %>

  <%= link_to new_space_expense_path(current_user.spaces.first, category: "Groceries") do %>
    <button><i class="fa-solid fa-cart-shopping"></i>Groceries</button>
  <% end %>

  <%= link_to new_space_expense_path(current_user.spaces.first, category: "Free Time") do %>
   <button><i class="fa-solid fa-gamepad"></i>Free Time</button>
  <% end %>

  <%= link_to new_space_expense_path(current_user.spaces.first, category: "Pets") do %>
   <button><i class="fa-solid fa-paw"></i>Pets</button>
  <% end %>

  <%= link_to new_space_expense_path(current_user.spaces.first, category: "Drinks") do %>
   <button> <i class="fa-solid fa-martini-glass-citrus"></i> Drinks</button>
  <% end %>

 <%= link_to new_space_expense_path(current_user.spaces.first, category: "Party") do %>
   <button><i class="fa-solid fa-cake-candles"></i>Party</button>
  <% end %>

   <%= link_to new_space_expense_path(current_user.spaces.first, category: "Gifts") do %>
   <button><i class="fa-solid fa-gift"></i>Gifts</button>
  <% end %>

   <%= link_to new_space_expense_path(current_user.spaces.first, category: "Service") do %>
   <button><i class="fa-solid fa-taxi"></i>Service</button>
  <% end %>

   <%= link_to new_space_expense_path(current_user.spaces.first, category: "House") do %>
   <button><i class="fa-solid fa-house"></i>House</button>
  <% end %>

   <%= link_to new_space_expense_path(current_user.spaces.first, category: "Add") do %>
   <button><i class="fa-solid fa-plus"></i>Add</button>
  <% end %>
</div>

<div class= "content-box">
  <div class= "box-scroll">
    <% expenses.reverse.each do |expense| %>
            <div class="task-box blue multi-button">
              <div class="description-task">
                <div class="expense-category"><%= expense.category %></div>
                <div class="task-amount"><%= expense.amount %></div>
                <div class="task-user"><%= expense.user.first_name %></div>
                <div class="d-flex justify-content-between">
                  <div class="task-name"><%= expense.name %></div>
                  <%= link_to space_expense_path(expense),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                    <button><i class="fa-solid fa-trash"></i>delete</button>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
  </div>
</div>
